
.button {
    background-color: rgb(236, 193, 84);
    margin: 10px;
    border-radius: 2px;
    padding: 5px;
    height: 35px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

a.button {
    color: rgb(250, 131, 230);
}

.button:hover {
    background-color: rgb(221, 145, 170);
}

 .navbar { 
    background-color:rgb(187, 186, 186);
    height: 80px;
    border: 2px dotted rgb(236, 179, 72);
    width: 100%;
    margin: 0px 0px 0px 0px;

}

h2, h3, h4, p {
    margin: 0px 200px ;
    padding: 25px 175px 25px 175px;
}

h1 {
    font-size: 45px;
    padding: 25px 175px;
    line-height: 45px;
    background-color: oldlace;
    margin: 30px 200px 30px 200px;
}

h2 {
    font-size: 30px;
    background-color: oldlace;
}

h3 {
    background-color: oldlace;
    font-size: 27px;
}

h4 {
 font-size: 22px;
 background-color: oldlace;
}

p {
    font-size: 22px;
    background-color: oldlace;
}

h4 + p {
    font-size: 24px;
    background-color: oldlace;
}

/*footer {
    background-color: rgba(128, 128, 128, .50);
    opacity: .75; 
    height: 45px;
    position: absolute;
    width: 100%;
    margin: 30px 0px 0px 0px;
}*/

body {
    text-align: center;
    margin: 0;
}

img {
    background-color: oldlace;
}

.photo1 {
height : 380px;
width : 490px;
background-color: oldlace;
padding: 60px 180px;
border: 3px solid #e44675;
}

.family-img {
height: 400px; 
width: 380px;
padding: 55px 463px;
margin-top: 10px;
border: 3px solid #e44675;
}

.school {
background-color: oldlace;
height: 310px;
width: 435px;
padding: 30px 436px;
border: 3px solid #e44675;
}

.concert {
    height: 350px;
    width: 385px;
    padding: 30px 461px;
    width: 0px 200px;
    border: 3px solid #e44675;
}
.typing {
    padding: 45px 515px;
    height: 350px;
}

table {
    margin: 0 auto;
    font-size: 18px;
    border: 4px dotted #e44675;
    width: 70%;
}

td {
    background-color: oldlace;
    font-size: 21px;
    border-bottom: gray;
    border-right: gray;
    text-align: left;
}

thead {
    font-size: 22px;
    font-style: bold;
    background-color: rgb(226, 226, 226);
}

ul, ol {
    background-color: oldlace;
    margin: 0px 200px;
    padding: 5px 300px;
    font-size: 20px;
}

{

}

.web1 {
text-align: left;
}

footer p {
    background-color: rgb(187, 186, 186);
    width: 100%;
    opacity: .75;
    position: absolute;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 25px 250px ;
}