
.button {
    background-color: goldenrod;
    margin: 10px;
    
    border-radius: 2px;
    height: 30px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
}

a.button {
    color: rgb(49, 121, 189);
}

.button:hover {
    background-color: rgb(221, 145, 170);
}
header {
    background-color: wheat;
}

h1 {
    font-size: 45px;
    padding: 25px;
    line-height: 45px;
    background-color: oldlace;
    margin: 50px 200px 0px 200px;
}

h2 {
    font-size: 30px;
    background-color: oldlace;
    padding: 30px 80px;
    margin: 0px 200px 0px 200px;
}

h4 {
 font-size: 25px;
 margin: 0px 200px;
}

p {
    font-size: 24px;
    margin: 0px 200px;
}

footer {
    background-color: rgba(128, 128, 128, .50);
    opacity: .75; 
    height: 45px;
}

body {
    text-align: center;
    margin: 0 !important;

}


img {
height : 300px;
width : 360px;
background-color: oldlace;
padding: 50px;
}