
.button {
    background-color: rgb(236, 193, 84);
    margin: 10px;
    border-radius: 2px;
    padding: 5px;
    height: 35px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

a.button {
    color: rgb(250, 131, 230);
}

.button:hover {
    background-color: rgb(221, 145, 170);
}

 .navbar { 
    background-color: gray;
    height: 80px;
    border: 2px dotted rgb(236, 179, 72);

}

h2, h3, h4, p {
    margin: 0px 200px ;
    padding: 20px 175px;
    border: 2px solid black
}

h1 {
    font-size: 45px;
    padding: 15px 175px;
    line-height: 45px;
    background-color: oldlace;
    margin: 50px 200px 0px 200px;
}

h2 {
    font-size: 30px;
    background-color: oldlace;
}

h4 {
 font-size: 25px;
 background-color: oldlace;
}

h4 + p {
    font-size: 24px;
    background-color: oldlace;
}

footer {
    background-color: rgba(128, 128, 128, .50);
    opacity: .75; 
    height: 45px;
    position: absolute;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

body {
    text-align: center;
    margin: 0;
}

.photo1 {
height : 300px;
width : 390px;
background-color: oldlace;
padding: 85px 288px;
margin: 0px 200px;
border: 2px solid black;
}

table {
    margin: 60px;
}

ul, ol {
    background-color: oldlace;
}